body {
    font-family: Helvetica;
}

header {
    width: 1400px;
    height: 150px;
    padding: 10px;
    margin: 0 auto;
    border: 0px;
    box-sizing: border-box;
    background-image: url(./resources/images/pattern.jpeg);
    position: relative;
    display: block;
    text-align: center;
}

header h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center; 
    overflow: hidden;
    margin: 10px auto 10px auto;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    position: relative;
    display: block;
    background-color: mediumspringgreen;
}

.frame-header {
    background-color: lightcoral;
}

.paints-header {
    background-color: skyblue;
}

.brush-price {
    color: blue;
}

.frame-price {
    color: blue;
}

.tube-price {
    color: blue;
}